NEXT_PUBLIC_SUPABASE_URL=https://zorelpdmlwmqlchxotlx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpvcmVscGRtbHdtcWxjaHhvdGx4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUwMzU2NzUsImV4cCI6MjEwMDYxMTY3NX0.LOQLk3KqgRr67BIDmY948sIVZPgMGVTEJYeqDp8MOLM
